/talle2/nbproject/private/
/talle2/build/
/Taller2_sinSRP/nbproject/private/
/Taller2_sinSRP/build/
/figuraEjemplo/nbproject/private/
/Taller4/nbproject/private/
/taller5Producto/target/
/taller6l/nbproject/private/
/taller6Libreria/nbproject/private/
/Taller7Paquete/nbproject/private/
/Taller6Paquete/nbproject/private/
/Taller7/nbproject/private/
/Taller6Paquete/build/
