/ejmplo15factorymethod/nbproject/private/
/TALLER_15_ABSTRACT_FACTORY/Taller_15_Abstract_Factory/nbproject/private/
/Taller_16_Patron_Prototype/nbproject/private/
/TALLER_16_PATRON_BUILDER/Taller_16_Patron_Builder/nbproject/private/
